
  

         <h1>Addition of Order List</h1>
<div >
    <form [formGroup]='FormData'  (ngSubmit)='SaveData()'>
        <input type="text"  placeholder="fruit"  formControlName='fruit'>
        <input type="text"  placeholder="mineral"   formControlName='mineral'>
        <input type="text"  placeholder="Sugar Level"   formControlName='SugarLevel'>
        <input type="text"  placeholder="Acidic Level" formControlName='AcidicLevel' >
        <input type="text"  placeholder="Alkalide Level"   formControlName='AlkalidLevel'><br>
        <button type="submit">ADD</button>
    </form>
</div>    



